{{ block title }}
    Your Investment
{{ endblock }}
{{ block content }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<link rel="stylesheet" href="{% static 'css/chart_styles.css' %}" />

<form id="instruction-form" method="post">
    <div id="instructions-container">
        <div class="instruction-page">
<!--            <p>-->
<!--                Remember that we have two real funds:-->
<!--                The <span style="color: #808080"><b>Conventional Fund</b></span> that prioritize diversification <b>without excluding controversial industries</b> such as tobacco, weapons, and fossil fuels.-->

<!--                The <span style="color: green"><b>Sustainable Fund</b></span> which integrates <b>ESG</b> factors as a core focus of its investment strategy.-->
<!--            </p>-->
            <p>
                <span style="color: blue"><b>Your portfolio</b></span> is made up by
                <span style="color: #808080"><b>{{ con_fix }}% of the Conventional Fund</b></span>
                and <span style="color: green"><b>{{ fix_decision }}% of the Sustainable Fund</b></span>
                for the 45 periods of this stage.
            </p>
            <div class = "add-a-frame">
                <p>
                    The <i>Returns by Period</i> chart below displays the performance of the two funds across periods.
                </p>

                <div id="chart-container" style="position: relative; width: 100%;">
                    <div id="newContainer" class="chart-container" style="width: 100%; height: 500px;"></div> <!-- New container for the chart -->
                    <div id="UpDownTable" style="position: absolute; top: 10px; right: 0px; z-index: 2; background-color: white; padding: 3px; display: none;"></div>
                </div>
            </div>

            <p>
                After reviewing the <i>Returns by Period</i> chart, you can click the button below to reveal the <i>Cumulative Return</i> chart on the next page.
            </p>
            <br>
        </div>


        <div class="instruction-page">

            <div class = "add-a-frame">
                <p>
                    The <i>Cumulative Return </i> chart below illustrates how the total returns of
                    the two funds have accumulated <u>up to Period 45</u>.
                </p>
            <div id="cumulative_chart">
                <div class="chart-container" id="cumu_1_Container"></div>
            </div>
            </div>
        </div>



        <div class="instruction-page">
            <div class = "add-a-frame">
                <p>
                    The table below shows the performance of the two funds over the 45 periods.
                </p>
                <div id="summaryTableContainer" class = "table-container-full" style="width: 100%; "></div>

                    <i style="font-size: small;">
                        <b>Note:</b> The performance data shown represent past performance and do not guarantee future results. Investment returns and principal values will fluctuate, and shares may be worth more or less than their original cost.
                    </i>
                <br>
            </div>
            <p>
                You can check the glossary for the definitions of the key terms if you need: <button type="button" id="custom-button" class="custom-button">Glossary</button>
            </p>
            <div id="chart-introduction" style="display: none;">
                    <div class="add-a-frame">
                        <p>
                            <b>Return</b>: The percentage change of the value of an investment in one period from the previous period.

                            It measures how much an investment has increased or decreased in value.
                        </p>
                        <p>
                        <b>Cumulative Return</b>:
                            The total percentage change in the fund’s value over 45 periods.
                            Higher values indicate greater overall growth.
                        </p>
                        <p>
                            <b>Average Return</b>:
                            The average periodic return of the fund over 45 periods.
                            Positive values reflect average growth, while negative values indicate average losses.
                        </p>
                        <p>
                            <b>Volatility</b>:
                            A measure of how much the fund’s returns fluctuate over 45 periods.
                            Higher volatility suggests greater variation in returns and potentially higher risk.
                        </p>
                        <p>
                            <b>Sharpe Ratio</b>: A measure of risk-adjusted returns.
                            It compares the fund’s average return to its risk (volatility).
                            A higher Sharpe ratio indicates better performance relative to risk over the 45 periods.
                        </p>
                    </div>
            </div>
            <br>
<!--            <div class="add-a-frame">-->
<!--                <p>-->
<!--                    The cumulative return of <b>your portfolio</b>-->
<!--                    (<span style="color: green">{{ con_fix }}%</span> of your 100 ECUs to the <span style="color: green"> Conventional Fund</span>-->
<!--                    and <span style="color: #808080">{{ fix_decision }}%</span> to the <span style="color: #808080">Sustainable Fund</span>)-->
<!--                    over 45 periods is {{ final_cumu_portfolio }}%,-->
<!--                    resulting in a payoff of <b>{{ player.payoff_real_invest }} ECUs</b> for this stage.-->
<!--                    The donation to your preferred environmental organization is <b>{{ fix_donation }} ECUs</b>.-->
<!--                </p>-->
<!--            </div>-->
<!--            <p>-->
<!--                Please click the button below to answer a question on next page.-->
<!--            </p>-->
        </div>

        <div class="instruction-page">
            <h5><b>Summary of Your Investment Results</b></h5>
            <p>
                Over a 45-period investment horizon, you allocated 100 ECUs between two funds.
                Below is an overview of your portfolio allocation and the resulting performance under different strategies.
            </p>

            <li>
                <b>Your Investment</b>: Conventional Fund: {{ con_fix }}%; Sustainable Fund: {{ fix_decision }}%
            </li>
            <br>

            <p style="font-size: large"><b>
                Portfolio Results Over 45 Periods
            </b></p>
            {% for result in results %}
            <li id="{{ result.id }}">
                {{ result.text }}
            </li>
            {% endfor %}
            <br>

            <p style="font-size: large"><b>
                Donation to Your Preferred Environmental Organization
            </b></p>
            <li>
                Based on your investment allocation in the <b>Sustainable Fund</b> across 45 periods,
                a donation of {{ donation_result }} ECUs will be made to your selected environmental organization: {{ selected_charity }}.
            </li>
            <br>
            <hr>
            <p>
                Now, based on the information above, we ask you to answer the question below:
            </p>
            <div class="card mb-2">
                <div class="card-body bg-light">
                    {% for field in form %}

                    <div class="form-group">

                        <label>{{ field.label }}</label>

                        <table class="table table-borderless mb-4">
                            <tbody>
                            <tr>
                                {{ for i in 1,2,3,4,5,6,7 }}
                                <td style="width: 10%">
                                    <div class="text-center m-auto">
                                        <label for="inlineRadio{{i}}"><i>{{ i }}</i></label><br>
                                        <input type="radio" name={{field.name}} id="inlineRadio{{i}}"
                                               value={{i}} required><br>
                                        <label for="inlineRadio{{i}}"><i>{{ if i == 1}}Completely unsatisfied
                                            {{elif i == 7}}Completely satisfied
                                            {{else}}
                                            {{endif}}</i></label>
                                    </div>
                                </td>
                                {{ endfor }}
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    {% endfor %}
                </div>
            </div>
            <p>
                Please click the button below to proceed to the next stage.
            </p>
        </div>

        <div class="button-container"><center>
            <button type="button" id="prev-button">Previous Page</button>
            <button type="button" id="next-button" class="otree-btn-next btn btn-primary" disabled>Next Page</button>
        </center></div>
    </div>
</form>



<script>
    // Pass data from Python to JavaScript
    window.chartData = {
        susData: {{ sus_data }},
        conData: {{ con_data }},
        portData: {{ port_data }}
    };
    window.CumulativeDataEveryPeriod = {
        TRSusData: {{TR_sus_data | safe }},
        TRConData: {{ TR_con_data | safe }},
        TRPortData: {{ TR_port_data | safe }}
    };

    window.summaryData = {{ summaryData | safe }};

</script>
<script>
    // Function to toggle visibility and update button text
    function toggleVisibility(buttonId, contentId, showText, hideText) {
        document.getElementById(buttonId).addEventListener('click', function () {
            const contentDiv = document.getElementById(contentId);
            const button = this;
            if (contentDiv.style.display === 'none') {
                contentDiv.style.display = 'block';
                button.textContent = hideText;
            } else {
                contentDiv.style.display = 'none';
                button.textContent = showText;
            }
        });
    }
    // Apply toggle functionality to each button-content pair
    toggleVisibility('custom-button', 'chart-introduction', 'Glossary', 'Hide Glossary');
</script>
<script src="{% static 'js/real_experience.js' %}"></script>
<!-- Multi-pages settings -->
<script src="{% static 'js/Multipages.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/Multipages_style.css' %}" />
<!--styles for math-->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }
    h2 {
        color: #2c3e50;
    }
    p, ul {
        margin-bottom: 1em;
    }
    .math {
        margin: 10px 0;
        padding: 10px;
        background: #f4f4f4;
        border-left: 5px solid #2c3e50;
        font-family: "Courier New", Courier, monospace;
    }
</style>
{{ endblock }}
